<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% if(locals.c) { %>
        <h1> There are <%= locals.c %> letters in your name.</h1>
        <% } else { %>
            <h1> Enter your Name </h1>
            <% } %>


                <form action="/submit" method="post">
                    <input type="text" name="fName" placeholder="First Name">
                    <input type="text" name="lName" placeholder="Last Name">
                    <input type="submit" value="submit">
                </form>
</body>

</html>